@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
:root{
    --body-bg: #f1f2f6;
    --card-bg: #fdfdfd;
    --red: #c23616;
    --black: #272727;
    --white: #fdfdfd;
}

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Agdasima', sans-serif;
    background: var(--body-bg);
    text-align: center;
}
.calendar-container{
    width: 400px;
    height: 360px;
    background: var(--white);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
    width: 100%;
    height: 20%;
    background-color: red;
    border-radius: .5rem .5rem 0 0;
    color: white;
    font-size: 2rem;
    display: inline;
    padding-top: 1rem;
    letter-spacing: .1rem;
    font-weight: 700;
}

.bottom{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom #date{
    font-size: 12rem;
    font-weight: 700;
    color: var(--red);
}
.bottom #day{
    margin-top: -1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: .1rem;
    text-align: center;
    padding-left: .6rem;
}